{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c221e013ed.js" crossorigin="anonymous"></script>
    <title>KittyTime</title>
</head>
<body>
    <!--header-->
    <header>
        <!--container-->
        <div class='container'>

            <!-- MENU -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i style="color:#fff; font-size: 25px;" class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" ><img style="height: 80px" src="{% static 'kittyapp/logo4.png' %}" alt="Logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Temporizador -->
    <div>
        <div id="timer">25:00</div>
        <!-- Botões -->
        <button id="playButton">Iniciar Vídeo</button>
        <button id="pauseButton">Pausar</button>
        <button id="cancelButton">Cancelar</button>
    </div>

    <!-- Vídeo -->
    <video id="myVideo" loop muted playsinline>
        <source src="{% static 'kittyapp/mod1.mp4' %}" type="video/mp4">
    </video>
    <!-- Áudio de miado de gato -->
    <audio id="catSound" preload="auto">
        <source src="{% static 'kittyapp/cat_meow.mp3' %}" type="audio/mpeg">
    </audio>

    <!-- Script para controlar a reprodução do vídeo -->
    <script>
        const playButton = document.getElementById('playButton');
        const pauseButton = document.getElementById('pauseButton');
        const cancelButton = document.getElementById('cancelButton');
        const video = document.getElementById('myVideo');
        const timer = document.getElementById('timer');
        const catSound = document.getElementById('catSound');
        let timerInterval;
        
        let secondsLeft = 25 * 60; // Tempo inicial em segundos (25 minutos)

        function updateTimer() {
            const minutes = Math.floor(secondsLeft / 60);
            const seconds = secondsLeft % 60;
            timer.textContent = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            secondsLeft--;
        
            if (secondsLeft < 0) {
                clearInterval(timerInterval); // Pausa o temporizador
                video.pause(); // Pausa o vídeo
                timer.textContent = '25:00'; // Define o texto do temporizador de volta para 25:00
                playButton.style.display = 'block'; // Exibe novamente o botão de iniciar o vídeo
                catSound.play();
            }
        }

        function startTimer() {
            timerInterval = setInterval(updateTimer, 1000); // Atualiza o temporizador a cada segundo
        }

        function pauseTimer() {
            clearInterval(timerInterval); // Pausa o temporizador
        }

        function resetTimer() {
            clearInterval(timerInterval); // Limpa o intervalo do temporizador
            video.currentTime = 0; // Reinicia o vídeo para o início
            secondsLeft = 25 * 60; // Reinicia o temporizador para 25 minutos
            timer.textContent = '25:00';
            playButton.style.display = 'block'; // Exibe novamente o botão de iniciar o vídeo
        }

        playButton.addEventListener('click', function () {
            video.play();
            playButton.style.display = 'none';
            startTimer(); // Atualiza o temporizador a cada segundo
        });

        pauseButton.addEventListener('click', function () {
            video.pause();
            pauseTimer();
        });

        cancelButton.addEventListener('click', function () {
            video.pause();
            resetTimer();
        });

        // Quando o vídeo terminar, exiba novamente o botão para reiniciar o vídeo
        video.addEventListener('ended', function () {
            playButton.style.display = 'block';
        });

        // Reiniciar o vídeo quando terminar
        video.onended = function () {
            video.currentTime = 0;
            secondsLeft = 25 * 60;
            timer.textContent = '25:00';
        };
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <nav>
        <a href="{% url 'home' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        </a>
    </nav>
</body>
</html>
